---
import VideoAma from "../components/VideoAma.jsx";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="ama">
  <div>
    <VideoAma client:load />
  </div>
</MainLayout>
