---
import MainLayout from "../layouts/MainLayout.astro";
import HubungiKami from "../components/HubungiKami"
import { ContactUsForm } from "../components/ContactForm";

---

<MainLayout title="Hubungi Kami" >
    <section class="px-4 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
        <div class="flex flex-wrap items-center mx-auto z-10">
          
            <HubungiKami client:load/>
            
        </div>
        <!-- <ContactUsForm client:visible/> -->
      </section>

</MainLayout>