---
import CardModul from "../components/Card2.jsx";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Modul">
  <div class="p-4">
    <h2 class="lg:text-3xl text-3xl font-bold text-center text-white">Modul</h2>
    <h3 class="text-sm lg:text-base py-2 text-center text-gray-400 mt-2">
      Pilih laluan anda untuk mempelajari asas web3!
    </h3>
  </div>
  <CardModul />
</MainLayout>
