---
import Logo2 from "/assets/Sekolah.png";
---

<section class="bg-jacarta-800">
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
    <div class="card3 p-5 z-1">
      <div class="flex flex-wrap items-center mx-auto z-10">
        <div
          class="pl-4 flex flex-col items-start lg:mt-12 lg:mb-16 lg:flex-grow lg:w-1/2"
        >
          <p
            class="mb-3 mt-5 text-base leading-relaxed text-left text-jacarta-200 tracking-widest"
          >
            TENTANG KAMI
          </p>
          <h1
            class="text-3xl font-bold leading-none text-white md:text-7xl lg:text-7xl"
          >
            MySekolah Kripto
          </h1>
          <p
            class="mb-8 mt-8 text-base leading-relaxed text-left text-jacarta-200"
          >
            Sekolah Kripto adalah pusat Inter-Operasi ilmu yang menyediakan
            pembelajaran dan kesedaran tentang teknologi Blockchain, Aset
            Kripto, DeFi & NFT di Malaysia. Kami membangunkan komuniti-komuniti
            kripto aset lain seperti Osmosis, Waves Degen Malaysia, dan Tezos
            Degen Malaysia.
          </p>
        </div>
        <div class="w-full lg:max-w-lg lg:w-1/3 rounded-xl">
          <div class="relative w-48 mx-auto sm:w-full md:w-80 max-w-lg">
            <div class="relative">
              <img
                class="mx-auto w-full"
                alt="MySekolahKripto"
                src={Logo2}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card3 {
    background: linear-gradient(
      105.42deg,
      rgba(255, 255, 255, 0.08) -3.07%,
      rgba(255, 255, 255, 0.06) 49.04%,
      rgba(255, 255, 255, 0) 97.84%
    );
    /* opacity: 0.8; */
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
  }
</style>
