<section class="px-4 py-6 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 ">
  <div
    class=" bg-gray-100 bg-opacity-5 shadow-lg rounded-2xl  p-10 text-center mx-auto"
  >
    <h1
      class="lg:text-3xl text-2xl font-semibold leading-tight text-center text-white"
    >
      Blockchain adalah masa depan, jadilah yang pertama belajar tentangnya!
    </h1>
    <a
      href="/modul"
      class="button2 px-5 py-2 mt-10 bg-yellow-500 rounded-lg font-semibold text-sm"
    >
      Mula Belajar Sekarang!
    </a>
  </div>

  <!-- <hr class="mt-10" /> -->
</section>

<style>
  .button2 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #eebc22;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button2:hover {
    /* background-color: #23c483; */
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #000;
    transform: translateY(-7px);
  }

  .button2:active {
    transform: translateY(-1px);
  }
</style>
