---
import Faq from "../components/Faq"
---

<section class="">
  <div
    class="container flex flex-col justify-center p-4 mx-auto md:p-8 px-4 max-w-7xl sm:px-6 md:px-12 lg:px-24"
  >
    <p
      class="p-2 text-sm font-medium tracking-wider text-center uppercase text-gray-400"
    >
      Mulakan Dengan Asas
    </p>
    <h2
      class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl text-white"
    >
      Soalan-soalan Lazim
    </h2>
    <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
      <!-- Row 1 & 2  -->
      <div>
        <h3 class="font-semibold text-white">1. Apakah blockchain?</h3>
        <p class="mt-1 text-gray-400">
          Blockchain adalah teknologi yang membolehkan transaksi digital
          disimpan dan disahkan secara sejagat tanpa memerlukan pihak ketiga.
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          2. Siapa yang boleh mendaftar untuk platform pendidikan ini?
        </h3>
        <p class="mt-1 text-gray-400">
          Siapa saja yang berminat untuk mempelajari lebih lanjut tentang
          blockchain boleh mendaftar dan menggunakan platform kami.
        </p>
      </div>
      <!-- Row 3 & 4 -->
      <div>
        <h3 class="font-semibold text-white">
          3. Adakah saya perlu mempunyai pengetahuan asas tentang blockchain?
        </h3>
        <p class="mt-1 text-gray-400">
          Tidak, platform pendidikan kami direka untuk semua orang, termasuk
          mereka yang baru berjinak-jinak dengan blockchain.
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          4. Bagaimana saya boleh memulakan pembelajaran saya?
        </h3>
        <p class="mt-1 text-gray-400">
          Anda hanya perlu mendaftar untuk akaun percuma, dan kemudian anda
          boleh mula menjelajahi modul pendidikan kami.
        </p>
      </div>
      <!-- Row 5 & 6 -->
      <div>
        <h3 class="font-semibold text-white">
          5. Adakah saya akan mendapat sijil setelah menamatkan kursus?
        </h3>
        <p class="mt-1 text-gray-400">
          Ya, anda akan menerima sijil penyertaan setelah anda menamatkan modul
          pendidikan.
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          6. Bolehkah saya belajar pada bila-bila masa?
        </h3>
        <p class="mt-1 text-gray-400">
          Ya, platform pendidikan kami 100% online dan boleh diakses pada
          bila-bila masa yang sesuai dengan anda.
        </p>
      </div>
      <!-- Row 7 & 8 -->
      <div>
        <h3 class="font-semibold text-white">
          7. Apakah kosnya untuk menggunakan platform ini?
        </h3>
        <p class="mt-1 text-gray-400">
          Platform pendidikan blockchain ini 100% percuma. Anda boleh belajar
          dan mendapatkan manfaat tanpa sebarang kos.
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          8. Apakah bahasa pengajaran di platform ini?
        </h3>
        <p class="mt-1 text-gray-400">
          Pengajaran di platform ini sepenuhnya dalam Bahasa Melayu.
        </p>
      </div>
    </div>

    <!-- <Faq client:load/> -->
  </div>
</section>
