<section class="">
  <div
    class="container flex flex-col justify-center p-4 mx-auto md:p-8 px-4  max-w-7xl sm:px-6 md:px-12 lg:px-24 "
  >
    <p
      class="p-2 text-sm font-medium tracking-wider text-center uppercase text-gray-400"
    >
      Mulakan Dengan Asas
    </p>
    <h2
      class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl text-white"
    >
      Soalan-soalan Lazim
    </h2>
    <div
      class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32"
    >
      <div>
        <h3 class="font-semibold text-white">
          Apakah orang yang sesuai untuk belajar modul ini?
        </h3>
        <p class="mt-1 text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
          fugit? Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem
          consequatur ratione, doloremque debitis? Fuga labore omnis minima,
          quisquam delectus culpa!
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          Ada apa-apa bayaran yang dikenakan?
        </h3>
        <p class="mt-1 text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
          fugit? Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem
          consequatur ratione, doloremque debitis? Fuga labore omnis minima,
          quisquam delectus culpa!
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          Apa yang bakal dapat sekiranya kita berjaya habiskan modul ini?
        </h3>
        <p class="mt-1 text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
          fugit? Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem
          consequatur ratione, doloremque debitis? Fuga labore omnis minima,
          quisquam delectus culpa!
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-white">
          Ada had waktu untuk seseorang itu bila mula modul ini?
        </h3>
        <p class="mt-1 text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
          fugit? Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem
          consequatur ratione, doloremque debitis? Fuga labore omnis minima,
          quisquam delectus culpa!
        </p>
      </div>
    </div>
  </div>
</section>
