---
import {Icon} from "astro-icon"
---

<footer>
    <div class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
        <div class="grid gap-16 row-gap-10 mb-8 lg:grid-cols-6">
          <div class="md:max-w-md lg:col-span-2">
            <a
              href="/"
              aria-label="Go home"
              title="Company"
              class="inline-flex items-center"
            >
              <span class="text-xl font-bold tracking-wide text-white uppercase">
                MySekolah Kripto
              </span>
            </a>
            <div class="mt-4 lg:max-w-sm">
              <p class="text-sm text-gray-400">
              Sekolah Kripto adalah pusat Inter-Operasi ilmu yang menyediakan pembelajaran dan kesedaran tentang Blockchain, Aset Kripto, DeFi & NFT di Malaysia.
              </p>
            </div>
            <div class="mt-8 text-3xl flex items-center justify-start gap-4">
                  <a
                    href="https://twitter.com/Mudennn"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                  <Icon name="mdi:twitter-circle"/>
                    <!-- <AiFillTwitterCircle class="text-gray-400" /> -->
                  </a>
                  <a
                    href="https://www.linkedin.com/in/muhammad-najmuddin/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <!-- <AiFillLinkedin class="text-gray-400" /> -->
                  </a>
                  <a
                    href="https://github.com/Mudennn"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <!-- <AiFillGithub class="text-gray-400" /> -->
                  </a>
                </div>
          </div>
          <div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-3">
            <div>
              <p class="font-semibold tracking-wide text-white">
                Category
              </p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    News
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    World
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Games
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    References
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <p class="font-semibold tracking-wide text-white">
                Business
              </p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Web
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    eCommerce
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Business
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Entertainment
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Portfolio
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <p class="font-semibold tracking-wide text-white">
                Apples
              </p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Media
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Brochure
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Nonprofit
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Educational
                  </a>
                </li>
                <li>
                  <a
                    href="/"
                    class="text-gray-400 transition-colors duration-300 hover:text-deep-purple-accent-400"
                  >
                    Projects
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-between pt-5 pb-10 border-t sm:flex-row">
          <p class="text-sm text-gray-400">
            © Copyright 2023 MySekolah Kripto. All rights reserved.
          </p>
          
        </div>
      </div>
</footer>