---
// component imports
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";
import MainHead from './MainHead.astro';


// export interface Props {
// 	title: string;
// }

// interface Props {
// 	title? : string;
// 	description? : string;
// }

const { title = "Kampus SekolahKripto", description = "Kampus Sekolah Kripto" } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<MainHead {title} {description}/>
	<body class="bg-jacarta-900">
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
		
	</body>
</html>

<!-- old bg color - bg-[#13133E] -->